*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  border:1px solid red;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-wrapper{
  padding:20px;
  border: 1px solid #ddd;
  min-width: 400px;
}
.form-wrapper .row{
  margin:10px 0;
}
.form-wrapper .row>label{
  display: inline-block;
  min-width: 4em;
}